<div class="activity" id="activity">
    <div class="activity-title">
      <p>最新活動</p>
    </div>
    <div class="activity-content">
      <div class="activity-content-wrap">
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-1.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            參與台北環保論壇，爭取海洋友善環境
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              炎炎夏日的周六，我走進了台北環保論壇，
              決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
              每一隻都應該有自己的 VIP 休憩空間。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-2.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            掃街模式開啟！帶起鯨魚帽來和我一起走！
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              街上氣氛真的很棒，從小孩到大人，甚至有些朋友都穿著
              由義大利知名設計師Sit Down Please所打造的經典龍蝦
              裝來找我握手，真的太可愛了！這次的活動不僅讓我看到
              大家的熱情，更加堅定了我推進「海洋友善環境」政策的決心。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-3.png" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">香香的烤魷魚活動！</div>
          <div class="activity-content-wrap-card-text">
            <p>
              為了推廣海洋生物永續生存的重要，讓更多人一起愛護
              海洋，我們舉辦了一場前所未有的「烤魷魚活動」！
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
      </div>
    </div>
  </div>