<div class="activity-container">
  <app-title title="最新活動"></app-title>
  <div class="cards">
    <div class="card">
      <div class="date">2023/12/24</div>
      <div class="image">
        <img src="assets/image/activity-1.jpg" alt="" />
      </div>
      <div class="title">參與台北環保論壇，爭取海洋友善環境</div>
      <div class="description">
        炎炎夏日的周六，我走進了台北環保論壇，
        決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
        每一隻都應該有自己的 VIP 休憩空間。
      </div>
      <div class="action">
        <div class="btn">繼續閱讀</div>
      </div>
    </div>
    <div class="card">
      <div class="date">2023/12/24</div>
      <div class="image">
        <img src="assets/image/activity-2-1.jpg" alt="" />
      </div>
      <div class="title">掃街模式開啟！帶起鯨魚帽來和我一起走！</div>
      <div class="description">
        街上氣氛真的很棒，從小孩到大人，甚至有些朋友都穿著 由義大利知名設計師Sit
        Down Please所打造的經典龍蝦
        裝來找我握手，真的太可愛了！這次的活動不僅讓我看到
        大家的熱情，更加堅定了我推進「海洋友善環境」政策的 決心。
      </div>
      <div class="action">
        <div class="btn">繼續閱讀</div>
      </div>
    </div>
    <div class="card">
      <div class="date">2023/12/24</div>
      <div class="image">
        <img src="assets/image/activity-3-1.jpg" alt="" />
      </div>
      <div class="title">香香的烤魷魚活動！</div>
      <div class="description">
        為了推廣海洋生物永續生存的重要，讓更多人一起愛護
        海洋，我們舉辦了一場前所未有的「烤魷魚活動」！
      </div>
      <div class="action">
        <div class="btn">繼續閱讀</div>
      </div>
    </div>
  </div>
</div>
