<div class="policy-container">
  <div class="title">為鯨魚謀福利！推動鯨魚保障方案</div>
  <div class="policy-images">
    <img src="" alt="assets/image/policy-1-1.png" />
    <img src="" alt="assets/image/policy-1-2.png" />
  </div>
  <div class="policy-content">
    <div class="date">發表日期：2023/10/15</div>
    <div class="text">
      <p>
        如果沒有鯨魚，這將對海洋生態系統和全球生態平衡產生重大影響。以下是一些可能發生的情況：
      </p>
      <p>
        食物鏈失衡：鯨魚在海洋食物鏈中頂級掠食者，以小型浮游生物和小魚類為食。如果沒有鯨魚來控制這些獵物種群，可能會導致這些生物過度繁殖，影響整個食物鏈的平衡。
        浮游生物增加：鯨魚的糞便富含養分，有助於浮游生物的生長。沒有鯨魚的情況下，這些養分可能不會被釋放到海洋中，影響浮游生物的數量和分佈。
        捕食性控制減弱：鯨魚可以控制獵物種群的數量，維持生態平衡。沒有鯨魚的情況下，某些獵物可能會增加，對其他生物種群產生負面影響。
      </p>
      <p>
        氣候影響：鯨魚通過幫助吸收二氧化碳和其他溫室氣體有助於減輕氣候變化。它們的減少可能導致更多溫室氣體被排放到大氣中。
      </p>
      <p>
        損害生態旅遊業：鯨魚觀光業在許多地區對經濟至關重要。沒有鯨魚，這一產業可能會受到重大沖擊，影響當地社區的生計。
      </p>
      <p>
        綜上所述，鯨魚在海洋生態系統中扮演著重要的角色，如果它們消失或減少，將對海洋生態平衡、生物多樣性、氣候和經濟產生深遠的影響。
        保護鯨魚是維護海洋健康和全球生態平衡的關鍵一步。因此，陳英渝提出以下鯨魚保障方案，讓牠們生生不息。
      </p>
      <p>
        1.設立鯨魚保護區：建立特定區域，以禁止捕鯨活動，並保護鯨魚的棲息地。這些區域提供了安全的環境，讓鯨魚得以繁衍和生存。
      </p>
      <p>
        2.國際合作：參與國際鯨魚保護公約，如國際捕鯨委員會（IWC），以協調世界各地的鯨魚保護努力，並監控捕鯨活動。
      </p>
      <p>
        3.研究和監測：支持科學研究，以了解不同鯨魚種群的狀況、棲息地和遷徙模式。這些信息有助於制定更有效的保護政策。
      </p>
    </div>
  </div>
  <div class="policy-links">
    <div class="title">其他政策</div>
    <div class="cards">
        <app-policy-card></app-policy-card>
        <app-policy-card></app-policy-card>
    </div>
  </div>
</div>
