<div class="service" id="service">
    <div class="service-title">
      <p>民眾服務</p>
    </div>
    <div class="service-content">
      <div class="title">我們在這裡，為您提供幫助，</div>
      <div class="title">請透過表單留下您的聯絡資訊，由專人與您聯繫，謝謝</div>
      <div class="form-wrap">
        <form action="" class="form-content">
          <div class="form-content-title">民眾服務表單</div>
          <div class="form-content-item">
            <div class="form-content-item-title">姓名</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">行動電話</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">電子信箱</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item form-message">
            <div class="form-content-item-title">留下您的訊息</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
        </form>
      </div>
      <div class="service-btn">提交</div>
    </div>
  </div>