<div class="about-container">
  <div class="about-photo">
    <div class="title">關於英渝</div>
    <div class="image">
      <img
        src="assets/image/about-img.jpg"
        alt="personal image"
        class="photo"
      />
    </div>
  </div>
  <div class="about-text">
    <div class="title">關於英渝</div>
    <div class="content">
      <p>
        出生於深海裡的大鳳梨裡。
        海洋不再如往日那樣寧靜和清澈，經常有一片漂浮的塑料垃圾，
        傷害著我深愛的海洋生物。
        被吸管傷害的海龜、吞下塑膠微粒的魚，引發疾病和痛苦。
        以及過度捕撈導致許多海洋生物的數量銳減，損害了整個生態。
        因時常聽到海哭的聲音，我希望能夠喚起人們對海洋的愛護意識。
        還原海洋的面貌，給予海綿寶寶一個乾淨的家園。 只要你幫海，海就會幫你。
      </p>
    </div>
  </div>
</div>
