<div class="policy" id="policy">
    <div class="policy-title">
      <p>政策議題</p>
    </div>
    <div class="policy-content">
      <div class="policy-content-wrap">
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/10/15</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-1-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            為鯨魚謀福利！推動鯨魚保障方案
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              鯨魚在海洋生態系統中扮演著重要的角色，如果它們消失
              或減少，將對海洋生態平衡、生物多樣性、氣候和經濟
              產生深遠的影響。保護鯨魚是維護海洋健康和全球 生態平衡的關鍵一步。
              因此，陳英渝提出鯨魚保障方案，讓牠們生生不息。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/11/21</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-2-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            減少海洋污染，維護海洋生態系統
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              減少海洋污染並保護海洋生態系統是保護地球生態平衡、
              氣候穩定、經濟和文化遺產的必要措施。它需要全球努
              力，包括政府、企業和個人的參與，以確保我們的海洋
              保持健康、可持續和繁榮
              因此，陳英渝提出友善海洋方案，還原海洋的面貌，給
              予海綿寶寶一個乾淨的家園。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/10/15</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-3-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            推廣海洋保護教育，讓愛更加專業
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              海洋教育推廣有助於保護我們的海洋、促進可持續發展，
              以及培養新一代的環保者和海洋保護者。這對於維護地球
              生態平衡和可持續未來至關重要。
              因此，陳英渝提出海洋保護教育方案，提高公眾對海洋的
              認識、關心和參與。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
      </div>
    </div>
  </div>