$colors: (
    primary: #1D3260,
    secondary: #ECF5FC,
    linearG: unquote("linear-gradient(to right, #1D3260 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%)"),
);

$font-sizes: (
    headText1: 32px,
    headText2: 24px,
    headText3: 20px,
    body1: 16px,
);

@mixin button(){
    width: 196px;
    height: 42px;
    font-size: map-get($font-sizes, body1 );
    font-weight: 400;
    background-color: map-get($colors, primary );
    color: white;
    line-height: 42px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
}