$colors: (
    primary: #1D3260,
    secondary: #ECF5FC,
    linearG: unquote("linear-gradient(to right, #1D3260 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%)"),
);

$font-sizes: (
    headText1: 32px,
    headText2: 24px
);