<div class="footer-container">
    <div class="footer-container-content">
      <div class="footer-container-content-name">陳英渝服務處</div>
      <div class="footer-container-content-info">
        <div class="footer-container-content-info-1">
          海星區聽海大道88號鳳梨大樓3樓
        </div>
        <div class="footer-container-content-info-2">(02) 878-9487</div>
        <div class="footer-container-content-info-3">
          信箱：meowoffice&#64;linmeow.tw
        </div>
      </div>
      <div class="footer-container-content-service-time">
        服務時間:週一至週五 9:00 - 18:00
      </div>
      <div class="footer-container-content-copyright">
        版權聲明：© 2023 陳英渝版權所有
      </div>
    </div>
  </div>