
<div class="footer-container">
  <div #footerImage class="footer-image" [ngStyle]="footerService.position" [style.backgroundImage]="'url(' + footerService.imageUrl + ')'"></div>
  <div class="loader"></div>
  <div class="footer-wrap">
    <div class="footer-wrap-content">
      <div class="footer-wrap-content-name">陳英渝服務處</div>
      <div class="footer-wrap-content-info">
        <div class="footer-wrap-content-info-1">
          海星區聽海大道88號鳳梨大樓3樓
        </div>
        <div class="footer-wrap-content-info-2">(02) 878-9487</div>
        <div class="footer-wrap-content-info-3">
          信箱：meowoffice&#64;linmeow.tw
        </div>
      </div>
      <div class="footer-wrap-content-service-time">
        服務時間:週一至週五 9:00 - 18:00
      </div>
      <div class="footer-wrap-content-copyright">
        版權聲明：© 2023 陳英渝版權所有
      </div>
    </div>
  </div>
</div>
