@import '../../../assets/style/variable';

.home-container {
    width: 100%;

    .banner {
        width: 100%;
        height: 800px;
        background-image: url('../../../assets/image/banner.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}