<div class="home-container">
  <div class="banner"></div>
  <div class="about">
    <div class="about-left">
      <div class="about-left-text">
        <div class="about-left-text-title">關於英渝</div>
        <div class="about-left-text-content">
          <p>
            出生於深海裡的大鳳梨裡。
            海洋不再如往日那樣寧靜和清澈，經常有一片漂浮的塑料垃圾，
            傷害著我深愛的海洋生物。
            被吸管傷害的海龜、吞下塑膠微粒的魚，引發疾病和痛苦。
            以及過度捕撈導致許多海洋生物的數量銳減，損害了整個生態。
            因時常聽到海哭的聲音，我希望能夠喚起人們對海洋的愛護意識。
            還原海洋的面貌，給予海綿寶寶一個乾淨的家園。
            只要你幫海，海就會幫你。
          </p>
        </div>
      </div>
    </div>
    <div class="about-right">
      <div class="about-right-img"></div>
    </div>
  </div>
  <div class="activity">
    <div class="activity-title">
      <p>最新活動</p>
    </div>
    <div class="activity-content">
      <div class="activity-content-wrap">
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-1.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            參與台北環保論壇，爭取海洋友善環境
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              炎炎夏日的周六，我走進了台北環保論壇，
              決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
              每一隻都應該有自己的 VIP 休憩空間。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-2.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            掃街模式開啟！帶起鯨魚帽來和我一起走！
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              街上氣氛真的很棒，從小孩到大人，甚至有些朋友都穿著
              由義大利知名設計師Sit Down Please所打造的經典龍蝦
              裝來找我握手，真的太可愛了！這次的活動不僅讓我看到
              大家的熱情，更加堅定了我推進「海洋友善環境」政策的決心。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-3.png" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">香香的烤魷魚活動！</div>
          <div class="activity-content-wrap-card-text">
            <p>
              為了推廣海洋生物永續生存的重要，讓更多人一起愛護
              海洋，我們舉辦了一場前所未有的「烤魷魚活動」！
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="policy">
    <div class="policy-title">
      <p>政策議題</p>
    </div>
    <div class="policy-content">
      <div class="policy-content-wrap">
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/10/15</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-1-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            為鯨魚謀福利！推動鯨魚保障方案
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              鯨魚在海洋生態系統中扮演著重要的角色，如果它們消失
              或減少，將對海洋生態平衡、生物多樣性、氣候和經濟
              產生深遠的影響。保護鯨魚是維護海洋健康和全球 生態平衡的關鍵一步。
              因此，陳英渝提出鯨魚保障方案，讓牠們生生不息。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/11/21</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-2-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            減少海洋污染，維護海洋生態系統
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              減少海洋污染並保護海洋生態系統是保護地球生態平衡、
              氣候穩定、經濟和文化遺產的必要措施。它需要全球努
              力，包括政府、企業和個人的參與，以確保我們的海洋
              保持健康、可持續和繁榮
              因此，陳英渝提出友善海洋方案，還原海洋的面貌，給
              予海綿寶寶一個乾淨的家園。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="policy-content-wrap-card">
          <div class="policy-content-wrap-card-date">2023/10/15</div>
          <div class="policy-content-wrap-card-img">
            <img src="assets/image/policy-3-1.png" alt="policy-image" />
          </div>
          <div class="policy-content-wrap-card-title">
            推廣海洋保護教育，讓愛更加專業
          </div>
          <div class="policy-content-wrap-card-text">
            <p>
              海洋教育推廣有助於保護我們的海洋、促進可持續發展，
              以及培養新一代的環保者和海洋保護者。這對於維護地球
              生態平衡和可持續未來至關重要。
              因此，陳英渝提出海洋保護教育方案，提高公眾對海洋的
              認識、關心和參與。
            </p>
          </div>
          <div class="policy-content-wrap-card-btn">
            <div class="policy-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-title">
      <p>渝渝小物</p>
    </div>
    <div class="product-bg"></div>
    <div class="product-global"></div>
    <div class="product-items">
      <div class="product-imgs">
        <img alt="" src="assets/image/product-1.jpg" class="product-img" />
        <img alt="" src="assets/image/product-2.jpg" class="product-img" />
        <img alt="" src="assets/image/product-3.jpg" class="product-img" />
      </div>
      <div class="product-content">
        <div class="product-text">
          <span
            >拒絕一次性用品，環保小物可以陪伴你一輩子。選擇可持續，選擇環保。</span
          ><span>更多渝渝環保小物，請前往蝦皮賣場參考選購。</span>
        </div>
        <div class="product-link">
          <a class="product-link-btn" href="https://shopee.tw/" target="_blank"
            >前往蝦皮賣場</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="service-title">
      <p>民眾服務</p>
    </div>
    <div class="service-content">
      <div class="title">我們在這裡，為您提供幫助，</div>
      <div class="title">請透過表單留下您的聯絡資訊，由專人與您聯繫，謝謝</div>
      <div class="form-wrap">
        <form action="" class="form-content">
          <div class="form-content-title">民眾服務表單</div>
          <div class="form-content-item">
            <div class="form-content-item-title">姓名</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">行動電話</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">電子信箱</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item form-message">
            <div class="form-content-item-title">留下您的訊息</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
        </form>
      </div>
      <div class="service-btn">提交</div>
    </div>
  </div>
</div>
