<div class="home-container">
  <div class="banner"></div>
  <div class="about">
    <div class="about-left">
      <div class="about-left-text">
        <div class="about-left-text-title">關於英渝</div>
        <div class="about-left-text-content">
          <p>
            出生於深海裡的大鳳梨裡。
            海洋不再如往日那樣寧靜和清澈，經常有一片漂浮的塑料垃圾，
            傷害著我深愛的海洋生物。
            被吸管傷害的海龜、吞下塑膠微粒的魚，引發疾病和痛苦。
            以及過度捕撈導致許多海洋生物的數量銳減，損害了整個生態。
            因時常聽到海哭的聲音，我希望能夠喚起人們對海洋的愛護意識。
            還原海洋的面貌，給予海綿寶寶一個乾淨的家園。
            只要你幫海，海就會幫你。
          </p>
        </div>
      </div>
    </div>
    <div class="about-right">
      <div class="about-right-img"></div>
    </div>
  </div>
  <div class="activity">
    <div class="activity-title">
      <p>最新活動</p>
    </div>
    <div class="activity-content">
      <div class="activity-content-wrap">
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-1.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            參與台北環保論壇，爭取海洋友善環境
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              炎炎夏日的周六，我走進了台北環保論壇，
              決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
              每一隻都應該有自己的 VIP 休憩空間。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-2.jpg" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            參與台北環保論壇，爭取海洋友善環境
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              炎炎夏日的周六，我走進了台北環保論壇，
              決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
              每一隻都應該有自己的 VIP 休憩空間。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
        <div class="activity-content-wrap-card">
          <div class="activity-content-wrap-card-date">2023/12/26</div>
          <div class="activity-content-wrap-card-img">
            <img src="assets/image/activity-3.png" alt="activity-image" />
          </div>
          <div class="activity-content-wrap-card-title">
            參與台北環保論壇，爭取海洋友善環境
          </div>
          <div class="activity-content-wrap-card-text">
            <p>
              炎炎夏日的周六，我走進了台北環保論壇，
              決定要全力宣傳「鯨魚至上」的理念！ 我相信，鯨魚在海洋中，
              每一隻都應該有自己的 VIP 休憩空間。
            </p>
          </div>
          <div class="activity-content-wrap-card-btn">
            <div class="activity-content-wrap-card-btn-button">繼續閱讀</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="policy">
    <div class="policy-title">
      <p>政策議題</p>
    </div>
    <div class="policy-content"></div>
  </div>
  <div class="product">
    <div class="product-title">
      <p>渝渝小物</p>
    </div>
    <div class="product-content"></div>
  </div>
  <div class="service">
    <div class="service-title">
      <p>民眾服務</p>
    </div>
    <div class="service-content">
      <div class="title">我們在這裡，為您提供幫助，</div>
      <div class="title">請透過表單留下您的聯絡資訊，由專人與您聯繫，謝謝</div>
      <div class="form-wrap">
        <form action="" class="form-content">
          <div class="form-content-title">民眾服務表單</div>
          <div class="form-content-item">
            <div class="form-content-item-title">姓名</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">行動電話</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item">
            <div class="form-content-item-title">電子信箱</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
          <div class="form-content-item form-message">
            <div class="form-content-item-title">留下您的訊息</div>
            <div class="form-content-item-input">
              <input type="text" name="" id="" />
            </div>
          </div>
        </form>
      </div>
      <div class="service-btn">提交</div>
    </div>
  </div>
</div>
