<div class="home-container">
  <div class="banner"></div>
  <div class="about-container">
    <app-home-about></app-home-about>
  </div>
  <div class="activity-container" id="activity">
    <app-home-activity></app-home-activity>
  </div>
  <div class="policy-container" id="policy">
    <app-home-policy></app-home-policy>
  </div>
  <div class="product-container" id="product">
    <app-home-product></app-home-product>
  </div>
  <div class="service-container" id="service">
    <app-home-service></app-home-service>
  </div>
</div>
