<div class="donate-dialog-container">
  <div class="content">
    <p>1.政治獻金捐贈者必須是合法國民或合法居住在本國境內的自然人。</p>
    <p>2.對同一（組）擬參選人每年捐贈總額，不得超過下列金額：</p>
    <p class="indent">一、個人：新臺幣十萬元。</p>
    <p class="indent">二、營利事業：新臺幣一百萬元。</p>
    <p class="indent">三、人民團體：新臺幣五十萬元。</p>
    <p>對不同擬參選人每年捐贈總額，合計不得超過下列金額：</p>
    <p class="indent">一、個人：新臺幣十萬元。</p>
    <p class="indent">二、營利事業：新臺幣一百萬元。</p>
    <p class="indent">三、人民團體：新臺幣五十萬元。</p>
    <p>
      3.個人捐款者在報稅時，可以將捐款金額列為列舉扣除額，最高抵稅金額不得超過其綜合所得總額的20%。
    </p>
    <p>4.了解更多規定請參閱政治獻金法。</p>
  </div>
  <div class="actions">
    <div class="btn" (click)="close()">確定</div>
  </div>
</div>
