<div class="product" id="product">
    <div class="product-title">
      <p>渝渝小物</p>
    </div>
    <div class="product-bg"></div>
    <div class="product-global"></div>
    <div class="product-items">
      <div class="product-imgs">
        <img alt="" src="assets/image/product-1.jpg" class="product-img" />
        <img alt="" src="assets/image/product-2.jpg" class="product-img" />
        <img alt="" src="assets/image/product-3.jpg" class="product-img" />
      </div>
      <div class="product-content">
        <div class="product-text">
          <span
            >拒絕一次性用品，環保小物可以陪伴你一輩子。選擇可持續，選擇環保。</span
          ><span>更多渝渝環保小物，請前往蝦皮賣場參考選購。</span>
        </div>
        <div class="product-link">
          <a class="product-link-btn" href="https://shopee.tw/" target="_blank"
            >前往蝦皮賣場</a
          >
        </div>
      </div>
    </div>
  </div>