@import '../assets/style/variable';

.app-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;

    .navbar {
        width: 100%;

        @include browser('pad') {
            display: none;
        }
    }

    .nav-dropdown {
        width: 100%;
        display: none;

        @include browser('pad') {
            display: block;
        }
    }

    .main-container {
        max-width: 100%;
        margin-top: 100px;
    }

    .footer-container {
        width: 100%;
    }

    .go-top {
        z-index: 100;
        position: fixed;
        right: 30px;
        bottom: 50px;
        cursor: pointer;

        svg {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #fff;

            @include browser('pad') {
                width: 32px;
                height: 32px;
            }
        }
    }

    .dialog {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: 101;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .dialog-wrap {
            background-color: map-get($colors, secondary );
            border-radius: 32px;
            padding: 24px;
        }
    }
}