@import '../assets/style/variable';

.app-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;

    .navbar {
        @include browser('pad') {
            display: none;
        }
    }

    .nav-dropdown {
        display: none;

        @include browser('pad') {
            display: block;
        }
    }

    .main-container {
        max-width: 100%;
        margin-top: 100px;
    }
}