/* You can add global styles to this file, and also import other style files */
@import './assets/style/reset';
@import './assets/style/variable';

body {
    width: 100%;
    margin: 0;
    font-family: Noto Sans TC;
    font-size: map-get($font-sizes, headText2);
    font-weight: 400;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}