<div class="donate-container">
  <div class="donate-title">
    <app-title title="小額捐款"></app-title>
  </div>
  <div class="donate-content">
    <p>
      個人力量有限，但團結一致，我們能夠實現改變。您的支持將劃下改變的開始。
    </p>
    <div class="donate-money">
      <div class="money">$300</div>
      <div class="money">$1,000</div>
      <div class="money">$10,000</div>
      <div class="money">$30,000</div>
      <div class="money">$50,000</div>
      <div class="money">$100,000</div>
    </div>
    <div class="input-donate-money">
      <input type="number" placeholder="請自行輸入金額" />
      <div class="btn">前往捐款</div>
    </div>
  </div>
  <div class="donate-introduction">
    <div class="introduction-image">
      <img src="assets/image/donate.jpg" alt="personal image" />
    </div>
    <div class="introduction-text">
      <div class="introduction-text-title">
        <p>一個人可以改變世界，但更多人可以一同締造歷史。</p>
        <p>讓我們共同締造更好的未來。</p>
      </div>
      <p class="introduction-text-content">
        大眾小額捐款提供了政治資金的透明度。每一筆捐款都可以追蹤和記錄，確保捐款者的身份不受隱瞞，
        這樣可以防止貪污和不正當的政治行為。
      </p>
      <p class="introduction-text-content">
        這不僅有助於保護民主的純潔性，還可以提高政治選舉的公平性，
        讓每位參選者都有機會為自己的政治理念而競爭，而不是只有那些擁有巨額資金的人。
      </p>
      <p class="introduction-text-content">
        對於英渝來說，大眾小額捐款是一個充滿希望的選項。它允許他們與選民建立更緊密的聯繫，
        傾聽他們的需求和關切，並獲得他們的支持。這樣的資金來源是可持續的，
        並且表明參選者真正關心他們代表的選區，而不僅僅是來自特定利益團體的代理人。
        沒有您的支持，我們將無法實現我們的使命。無論多少，您的捐款都對我們的立委競選至關重要。
      </p>
    </div>
  </div>
  <div class="donate-questions">
    <div class="title">常見問題</div>
    <div class="quetions">
        <app-collapse></app-collapse>
    </div>
  </div>
  <div class="donate-products">
    <div class="title">渝渝小物</div>
    <div class="quetions">
        <app-carousel></app-carousel>
    </div>
  </div>
</div>
