<div class="activity-container">
  <div class="title">參與台北環保論壇，爭取海洋友善環境！</div>
  <div class="drawer-card-container">
    <app-draw-card></app-draw-card>
  </div>
  <div class="activity-content">
    <div class="date"></div>
    <div class="text">
      <p>
        在一個美麗的夏日早晨，台北舉辦了一場重要的環保論壇，重點討論如何建立一個海洋友善的環境。這次論壇吸引了來自政府、學術界、環保組織和當地社區的代表，他們都熱衷於保護台灣的海洋生態系統。
      </p>
      <p>
        陳英渝是這次論壇的主要參與者之一。她一直以來都關心海洋環保議題，並且她提出了相關的法案。當她站在論壇的講台上，她分享了自己的熱情和承諾，以及她的願景，即建立一個海洋友善的台灣。
      </p>
      <p>
        陳英渝提到了海洋污染、過度捕撈和海洋生態系統的崩壞，並指出這些問題對台灣的經濟和環境都帶來了嚴重影響。她提出了一系列政策建議，包括提高海洋保護區的規模，加強海洋監測和執法，以及推動環保教育。
      </p>
      <p>
        此外，陳英渝強調了社區參與的重要性，她鼓勵當地社區和環保團體共同參與保護台灣的海洋環境。她分享了一個案例，講述當地一個小漁村如何透過清潔海灘和減少塑料使用，改變了他們的社區，使之變得更加環保友善。
      </p>
      <p>
        論壇結束後，陳英渝與其他與會者互動，收集了更多意見和建議。她承諾將努力推動相應的法案。她感到非常滿足，因為她知道她不僅參與了一個重要的環保討論，還鼓勵了更多人一同努力，以建立一個更加海洋友善的台灣。這次論壇標誌著一個新的開始，為台灣的海洋環境保護帶來了希望。
      </p>
    </div>
  </div>
  <div class="activity-images">
    <app-image-block></app-image-block>
    <app-carousel [items]="imageGroup2">
      <div
        class="my-custom-content"
        *ngFor="let image of imageGroup2; let i = index"
      ></div>
    </app-carousel>
  </div>
  <div class="activity-links">
    <div class="title">其他活動</div>
    <div class="cards">
      <app-activity-card></app-activity-card>
      <app-activity-card></app-activity-card>
    </div>
  </div>
</div>
